<h1><%= @source.name %></h1>
</p>

<p>
  <b>Website:</b>
  <%= @source.website %>
</p>

<p>
  <b>Contact person:</b>
  <%= @source.contact_person %>
</p>

<p>
  <b>Contact email:</b>
  <%= @source.contact_email %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @source.contact_phone %>
</p>

<h2>Antibodies (<%= @source.antibodies_count %>)</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Species</th>
    <th>Validations</th>
  </tr>
<% @source.antibodies.each do |antibody| %>
  <tr>
    <td><%= link_to antibody.name, antibody %></td>
    <td><%= antibody.target.species.try(:name)%></td>
    <td></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
