<h1><%= @source.name %></h1>

<h2>Targets (<%= @source.source_targets_count %>)</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Antibodies</th>
  </tr>
<% @source.targets.each do |target| %>
  <tr>
    <td><%= link_to target.name, target %></td>
    <td class="number"><%= target.antibodies_count %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
