<h1>Targets</h1>

<%= alphabetical_query_list(@qs) %>

<div class="pagination_info"><%= page_entries_info @targets %><%= " matching \"#{@q}\"" if @q.present? %></div>

<% if @targets.size > 0 %>
<%= target_list(@targets, "noheading")%>

<%= will_paginate(@targets) %>
<% end %>