<h1>Targets</h1>

<%= alphabetical_query_list(@q) %>

<div class="pagination_info"><%= page_entries_info @targets %></div>

<% if @targets.size > 0 %>
<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th>Target Species</th>
    <th><%= sortable "antibodies_count", "Antibodies" %></th>
    <th>Validations</th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= link_to target.name, target %></td>
    <td><%= link_to target.species.name, target.species %></td>
    <td class="number"><%= target.antibodies_count %></td>
    <td></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@targets) %>
<% end %>