<h1>Targets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Species</th>
    <th>Gene</th>
    <th>Antibodies</th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= link_to target.name, target %></td>
    <td><%= target.species.try(:name) %></td>
    <td><%= target.gene_id %></td>
    <td class="number"><%= target.antibodies_count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target', new_target_path %>
