<h1>Targets</h1>

<%= alphabetical_query_list(@q) %>

<div class="pagination_info"><%= page_entries_info @targets %></div>

<% if @targets.size > 0 %>
<table class="targets">
  <tr>
    <th><%= sortable "name" %></th>
    <th>Target Species</th>
    <th><%= sortable "antibodies_count", "Antibodies" %></th>
    <th>Validated Species</th>
    <th>Validations</th>
    <th>Passed / Total</th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= link_to target.name, target %></td>
    <td><%= link_to target.species.name, target.species %></td>
    <td class="number"><%= target.antibodies_count %></td>
    <td><%= validated_species(target.validations)%></td>
    <td class="number"><%= link_to(validation_by_type(target.validations), target)%></td>
    <td><%= link_to(validation_results(target.validations), target) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@targets) %>
<% end %>