<h1>Targets</h1>

<%= paginated_section(@targets) do %>

<div class="pagination_info"><%= page_entries_info @targets %></div>

<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th>Species</th>
    <th><%= sortable "antibodies_count", "Antibodies" %></th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= link_to target.name, target %></td>
    <td><%= link_to target.species.name, target.species %></td>
    <td class="number"><%= target.antibodies_count %></td>
  </tr>
<% end %>
</table>

<% end %>
