<h1>Targets</h1>

<%= alphabetical_query_list(@qs) %>

<div class="pagination_info"><%= page_entries_info @targets %><%= " matching \"#{@q}\"" if @q.present? %></div>

<% if @targets.size > 0 %>
<table class="targets">
  <tr>
    <th><%= sortable "name" %></th>
    <th>Target Species</th>
    <th><%= sortable "antibodies_count", "Antibodies" %></th>
    <th>Validated Species</th>
    <th>Validations <class class="help"><span class="helpmark">?</span><div class="helptext"><div class="validation_categories"><span class="validation_w" title="Western blot">W3</span>: 3 western blot validations<br /><span class="validation_d" title="Dot blot">D2</span>: 2 dot blot validations<br /><span class="validation_c" title="ChIP-chip/seq">C2</span>: 2 ChIP-chip/seq validataions</div></div></th>
    <th>Passed / Total</th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= link_to target.name, target %></td>
    <td><%= target.species.name %></td>
    <td class="number"><%= target.antibodies_count %></td>
    <td><%= validated_species(target.validations)%></td>
    <td class="number"><%= link_to(validation_by_type(target.validations), target)%></td>
    <td><%= link_to(validation_results(target.validations), target)  + validation_results_graph(target.validations) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@targets) %>
<% end %>