<%= page_title(@target.name_with_species)%>
<h1><%= @target.name_with_species %></h1>


<h2>Antibodies (<%= @target.antibodies_count %>)</h2>
<table class="antibodies">
  <tr>
    <th>Source</th>
    <th>Catalogue #</th>
    <th>Lot #</th>
    <th class="wrap">Host Species</th>
    <th>Clonality</th>
    <th class="wrap">Validated Species</th>
    <th>Validations</th>
    <th>Passed / Total</th>
  </tr>
<% @target.antibodies.sort_by(&:source_id).each do |antibody| %>
  <tr>
    <td><%= link_to antibody.source.name, antibody.source %></td>
    <td><%= antibody.catalogue_number %></td>
    <td><%= antibody.lot_number %></td>
    <td><%= antibody.host_species.try(:name)%></td>
    <td><%= antibody.clonality %></td>
    <td><%= validated_species(antibody.validations)%></td>
    <td><%= link_to(validation_by_type(antibody.validations), antibody) %></td>
    <td><%= link_to(validation_results(antibody.validations), antibody)  + validation_results_graph(antibody.validations) %></td>
  </tr>
<% end %>
</table>

