<h1><%= @target.name %></h1>

<p>
  <b>Species:</b>
  <%= @target.species.try(:name) %>
</p>

<p>
  <b>Gene:</b>
  <%= @target.gene_id %>
</p>

<h2>Antibodies (<%= @target.antibodies_count %>)</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Validations</th>
  </tr>
<% @target.antibodies.each do |antibody| %>
  <tr>
    <td><%= link_to antibody.name, antibody %></td>
    <td></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
