<h1><%= @target.name_with_species %></h1>


<h2>Antibodies (<%= @target.antibodies_count %>)</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Validations</th>
  </tr>
<% @target.antibodies.each do |antibody| %>
  <tr>
    <td><%= link_to antibody.name, antibody %></td>
    <td></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
