<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @target.name %>
</p>

<p>
  <b>Species:</b>
  <%= @target.species_id %>
</p>

<p>
  <b>Gene:</b>
  <%= @target.gene_id %>
</p>

<p>
  <b>Antibodies count:</b>
  <%= @target.antibodies_count %>
</p>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
