<h1><%= @target.name_with_species %></h1>


<h2>Antibodies (<%= @target.antibodies_count %>)</h2>
<table>
  <tr>
    <th>Source</th>
    <th>Catalogue #</th>
    <th>Lot #</th>
    <th>Validations</th>
  </tr>
<% @target.antibodies.sort_by(&:source_id).each do |antibody| %>
  <tr>
    <td><%= link_to antibody.source.name, antibody.source %></td>
    <td><%= antibody.catalogue_number %></td>
    <td><%= antibody.lot_number %></td>
    <td></td>
  </tr>
<% end %>
</table>

