<%= page_title(@target.name_with_species)%>
<h1><%= @target.name_with_species %></h1>


<h2>Antibodies (<%= @target.antibodies_count %>)</h2>
<table class="antibodies">
  <tr>
    <th>Source</th>
    <th>Catalogue #</th>
    <th>Lot #</th>
    <th>Host Species</th>
    <th>Clonality</th>
    <th>Purification</th>
    <th>Validations</th>
  </tr>
<% @target.antibodies.sort_by(&:source_id).each do |antibody| %>
  <tr>
    <td><%= link_to antibody.source.name, antibody.source %></td>
    <td><%= link_to_if(antibody.url.present?, antibody.catalogue_number, antibody.url) %></td>
    <td><%= antibody.lot_number %></td>
    <td><%= antibody.host_species.try(:name)%></td>
    <td><%= antibody.clonality %></td>
    <td><%= antibody.purification %></td>
    <td><%= link_to(validation_by_type(antibody.validations), antibody) %></td>
  </tr>
<% end %>
</table>

