<h1>Antibodies</h1>

<%= paginated_section(@antibodies) do %>

<div class="pagination_info"><%= page_entries_info @antibodies %></div>

<table>
  <tr>
    <th>Source</th>
    <th>Catalogue #</th>
    <th>Lot #</th>
    <th>Target Name</th>
    <th class="wrap">Target Species</th>
    <th class="wrap">Validated Species</th>
    <th>Validations<%= validations_help.html_safe %></th>
    <th>Passed / Total<%= validation_criteria_help.html_safe %></th>
  </tr>

<% @antibodies.each do |antibody| %>
  <tr>
    <td><%= link_to antibody.source.name, antibody %></td>
    <td><%= link_to antibody.catalogue_number, antibody %></td>
    <td><%= link_to antibody.lot_number, antibody %></td>
    <td><%= link_to antibody.target.name, antibody.target %></td>
    <td><%= antibody.target.species.try(:name) %></td>
    <td><%= validated_species(antibody.validations)%></td>
    <td><%= link_to(validation_by_type(antibody.validations), antibody) %></td>
    <td><%= link_to(validation_results(antibody.validations), antibody) %><%= validation_results_graph(antibody.validations) %></td>
    
  </tr>
<% end %>
</table>

<% end %>
