<h1>Antibodies</h1>

<%= paginated_section(@antibodies) do %>

<div class="pagination_info"><%= page_entries_info @antibodies %></div>

<table>
  <tr>
    <th>Name</th>
    <th>Target species</th>
    <th>Target name</th>
    <th>Validations</th>
  </tr>

<% @antibodies.each do |antibody| %>
  <tr>
    <td><%= link_to antibody.name, antibody %></td>
    <td><%= antibody.target_species %></td>
    <td><%= antibody.target_name %></td>
    <td></td>
  </tr>
<% end %>
</table>

<% end %>

<br />

<%= link_to 'New Antibody', new_antibody_path %>
