<h1>Antibodies</h1>

<%= paginated_section(@antibodies) do %>

<div class="pagination_info"><%= page_entries_info @antibodies %></div>

<table>
  <tr>
    <th><%= sortable "name", "Antibody Name" %></th>
    <th>Target Name</th>
    <th>Target Species</th>
    <th>Validations</th>
  </tr>

<% @antibodies.each do |antibody| %>
  <tr>
    <td><%= link_to antibody.name, antibody %></td>
    <td><%= link_to antibody.target.name, antibody %></td>
    <td><%= antibody.target.species.try(:name) %></td>
    <td></td>
  </tr>
<% end %>
</table>

<% end %>

<br />

<%= link_to 'New Antibody', new_antibody_path %>
