<h1><%= @antibody.name %></h1>
  

<p>
  <b>Description:</b>
  <%= @antibody.description %>
</p>

<p>
  <b>Target species:</b>
  <%= @antibody.target.species.try(:name) %>
</p>

<p>
  <b>Target name:</b>
  <%= link_to @antibody.target.name, @antibody.target %>
</p>

<p>
  <b>Target gene product:</b>
  <%= @antibody.target.gene_id %>
</p>

<p>
  <b>Host species:</b>
  <%= @antibody.host_species.name %>
</p>

<p>
  <b>Antigen:</b>
  <%= @antibody.antigen %>
</p>

<p>
  <b>Clonality:</b>
  <%= @antibody.clonality %>
</p>

<p>
  <b>Purification:</b>
  <%= @antibody.purification %>
</p>

<p>
  <b>Source:</b>
  <%= link_to @antibody.source.name, @antibody.source %>
</p>

<p>
  <b>Catalogue number:</b>
  <%= @antibody.catalogue_number %>
</p>

<p>
  <b>Lot number:</b>
  <%= @antibody.lot_number %>
</p>

<p>
  <b>Url:</b>
  <%= @antibody.url %>
</p>

<p>
  <b>Created by:</b>
  <%= @antibody.created_by %>
</p>


<%= link_to 'Edit', edit_antibody_path(@antibody) %> |
<%= link_to 'Back', antibodies_path %>
