<h1><%= link_to @antibody.target.name_with_species, @antibody.target %></h1>

<table class="antibodies">
  <tr>
    <th>Source</th>
    <th>Catalogue #</th>
    <th>Lot #</th>
    <th>Host Species</th>
    <th>Clonality</th>
    <th>Purification</th>
    <th>Source Website</th>
    <th>Validations</th>
  </tr>
  <tr>
    <td><%= link_to @antibody.source.name, @antibody.source %></td>
    <td><%= @antibody.catalogue_number %></td>
    <td><%= @antibody.lot_number %></td>
    <td><%= @antibody.host_species.try(:name)%></td>
    <td><%= @antibody.clonality %></td>
    <td><%= @antibody.purification %></td>
    <td><%= link_to("Open", @antibody.url, :target => "_blank") if @antibody.url.present? %></td>
    <td><%= validation_by_type(@antibody.validations) %></td>
  </tr>
</table>

<% if @antibody.validations_count > 0 %>
<h2>Validations</h2>
<table class="validations">
  <tr>
    <th>Category</th>
    <th>Species</th>
    <th>Result</th>
    <th>Notes</th>
    <th>Conditions</th>
    <th>Image</th>
    <th>Validator</th>
  </tr>
  <% @antibody.validations.each do |validation| %>
  <tr>
    <td class="category_<%= validation.category.first.downcase %>"><%= validation.category %></td>
    <td><%= link_to_unless validation.species.nil?, validation.species.try(:name), validation.species %></td>
    <td><%= validation.result %></td>
    <td><%= validation.notes %></td>
    <td><%= validation.conditions %></td>
    <td><%= validation_images(validation) %></td>
    <td><%= link_to validation.validator.name, validation.validator %></td>
  </tr>
  <% end %>
</table>
<% end %>
