<h1><%= link_to @antibody.target.name_with_species, @antibody.target %></h1>

<table class="antibodies">
  <tr>
    <th>Source</th>
    <th>Catalogue #</th>
    <th>Lot #</th>
    <th class="wrap">Host Species</th>
    <th>Clonality</th>
<% if @antibody.url.present? %>
    <th>Website</th>
<% end %>
    <th>Validations<%= validations_help.html_safe %></th>
    <th>Passed / Total<%= validation_criteria_help.html_safe %></th>
  </tr>
  <tr>
    <td><%= link_to @antibody.source.name, @antibody.source %></td>
    <td><%= @antibody.catalogue_number %></td>
    <td><%= @antibody.lot_number %></td>
    <td><%= @antibody.host_species.try(:name)%></td>
    <td><%= @antibody.clonality %></td>
<% if @antibody.url.present? %>
    <td><%= link_to("Website", @antibody.url, :target => "_blank") %></td>
<% end %>
<td><%= validation_by_type(@antibody.validations) %></td>
<td><%= validation_results(@antibody.validations) %><%= validation_results_graph(@antibody.validations) %></td>
  </tr>
</table>

<% if @antibody.validations_count > 0 %>
<h2>Validations</h2>
<table class="validations">
  <tr>
    <th>Category</th>
    <th>Species</th>
    <th>Result</th>
    <th>Notes</th>
    <th>Conditions</th>
    <th>Image</th>
    <th>Validator</th>
  </tr>
  <% @antibody.validations.each do |validation| %>
  <tr>
    <td class="category_<%= validation.category.first.downcase %>"><%= validation.category %></td>
    <td><%= link_to_unless true, validation.species.try(:name), validation.species %></td>
    <td class="<%= validation.result%>"><%= validation.result %></td>
    <td><%= validation.notes %></td>
    <td><%= validation.conditions %></td>
    <td><%= validation_images(validation) %></td>
    <td><%= link_to validation.validator.name, validation.validator %></td>
  </tr>
  <% end %>
</table>
<% end %>
