<div id="select_antibody">
  <h3>Select an antibody (or <%= link_to "create a new one", upload_url(:target_id => @target.id, :new_antibody => 1) %>):</h3>
  <table>
    <tr>
      <th>Source</th>
      <th>Catalogue #</th>
      <th>Lot #</th>
      <th>Select</th>
    </tr>
    <% for item in @target.antibodies %>
    <tr>
      <td><%= item.source.name %></td>
      <td><%= item.catalogue_number %></td>
      <td><%= item.lot_number %></td>
      <td><%= link_to("Select", upload_url(:target_id => @target, :antibody_id => item))%></td>
    </tr>
    <% end %>
  </table>
</div>