<h3>No targets found for "<%= params[:find_target]%>". Let's create a new one:</h3>

<%= form_for(@new_target, :url => create_target_url, :html => {:class => "upload"} ) do |f| %>
  <% if @new_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @new_target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :species_id, "Target Species" %>
    <%= f.select :species_id, options_from_collection_for_select(Species.order("targets_count desc, name"), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :name, "Target Name" %>
    <%= f.text_field :name, :class => "long" %>
  </div>

  <div class="actions">
    <%= f.submit("save", :class => "right") %>
  </div>
<% end %>
