<div id="create_antibody">
<%= link_to("Select from existing antibodies", upload_url(:target_id => @target.id))%>
<% if @source.nil? %>
  <h3>Find the source (company or lab) of your new antibody:</h3>
    <%= form_tag upload_url, :method => 'get', :class => "upload" do %>
      <%= hidden_field_tag :target_id, @target.id %>
      <%= hidden_field_tag :new_antibody, 1 if params[:new_antibody] %>
      <%= text_field_tag :find_source, params[:find_source], :id => "upload_source_search" %>
      <%= submit_tag "search", :name => nil%>
    <% end %>
    Examples: <%= Source.most_antibodies.limit(5).map {|s| link_to(s.name, upload_url(:find_source => s.name, :target_id => @target.id, :new_antibody => 1))}.join(", ").html_safe %>
    <% if @sources.present? %>
      <%= render 'sources' %>
    <% elsif params[:find_source].present? %>
      <%= render 'new_source'%>
    <% end %>
  
<% else %>
  <h3>Create a new antibody:</h3>
  
  <%= form_for(@new_antibody, :url => create_antibody_url, :html => {:class => "upload"}) do |f| %>
    <%= f.hidden_field :target_id %>
    <%= f.hidden_field :source_id %>
    <% if @new_antibody.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_antibody.errors.count, "error") %> prohibited this antibody from being saved:</h2>

        <ul>
        <% @new_antibody.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :source %> <span class="selected"><%= @source.name %></span>
    </div>
    <div class="field">
      <%= f.label :catalogue_number, "Catalogue #" %> <%= f.text_field :catalogue_number, :class => "long" %>
    </div>
    <div class="field">
      <%= f.label :lot_number, "Lot #" %> <%= f.text_field :lot_number, :class => "long" %>
    </div>

    <div class="field">
      <%= f.label :host_species_id, "Host Species" %> <%= f.select :host_species_id, options_from_collection_for_select(Species.order("targets_count desc, name"), :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :clonality %> <%= f.radio_button :clonality, "monoclonal" %> <%= f.label :clonality_monoclonal, "Monoclonal", :class => "radio" %> <%= f.radio_button :clonality, "polyclonal" %> <%= f.label :clonality_polyclonal, "Polyclonal", :class => "radio" %>
    </div>
    <div class="field">
      <%= f.label :purification %> <%= f.select :purification, ["Affinity", "Crude", "Partial", "Protein A", "Protein G", "Serum", "Tissue Culture Supernatant"].sort %>
    </div>
    <div class="field">
      <%= f.label :url, "Product Website" %> <%= f.text_field :url, :class => "long" %>
      <div class="examples" style="display: block">e.g. http://www.abcam.com/Histone-H3-tri-methyl-K9-antibody-ChIP-Grade-ab8898.html </div>
    </div>
    <div class="actions">
      <%= f.submit("save", :class => "right") %>
    </div>
  <% end %>
<% end %>
</div>