<h1>About Us</h1>




<div class="yui3-g">
  <div class="yui3-u-1-2">
    <div class="left">
      <h2>Purpose</h2>
      <p>Many biological studies rely on high quality antibodies, but many commercial antibodies do not perform well (more than a quarter fail for histone antibodies; see "<%= link_to "An assessment of histone-modification antibody quality", project_path(1) %>").  The problem is compounded by a lack of uniform standard and the laborious steps required for full validation.  The purpose of this site is to collect and to share experimental results on antibodies that would otherwise remain in individual laboratories, thus aiding researchers in selection and validation of antibodies.  This site began with the 200+ commercial antibodies tested as part of the <%= link_to "ENCODE", "http://www.genome.gov/10005107", :target => "_blank" %> (Encyclopedia of DNA Elements) project sponsored by the <%= link_to "National Human Genome Research Institute", "http://www.genome.gov/", :target => "_blank" %> (USA), but the scientific community is invited to contributed their data.</p>
      <h2>How to cite us</h2>
      <p>Egelhofer et al, An assessment of histone-modification antibody quality, Nature Structural & Molecular Biology, 2010, <%= link_to "doi:10.1038/nsmb.1972", "http://dx.doi.org/10.1038/nsmb.1972", :target => "_blank" %></p>
    </div>
  </div>
    
  <div class="yui3-u-1-2">
    <div class="right">
      <h2>Notes on use of the database</h2>
      <p>It is important to note that there is significant variability between different lots of the same polyclonal antibody.  The quality of experiments may also be variable depending on experimentalist.  Thus, the users should take the validation data here as a guide, to be further verified (and deposited!).</p>

      <h2>Funding</h2>
      <p>This website was developed with funding from the <%= link_to "model organism ENCODE", "http://www.modencode.org/", :target => "_blank" %>, <%= link_to "human ENCODE", "http://www.genome.gov/10005107", :target => "_blank" %>, and <%= link_to "Roadmap Epigenomics", "http://www.roadmapepigenomics.org/", :target => "_blank" %> projects by NIH and is maintained by the <%= link_to "Park laboratory", "http://compbio.med.harvard.edu/", :target => "_blank" %> at the <%= link_to "Center for Biomedical Informatics", "http://cbmi.med.harvard.edu", :target => "_blank" %> at <%= link_to "Harvard Medical School", "http://hms.harvard.edu/", :target => "_blank" %>.  Website design is by Kyungjoon Lee.  Please contact XXX with questions and suggestions.</p>
      <p><%= image_tag("modencode_roadmapepigenomics.png")%></p>
  </div>
</div>