<h1>About Us</h1>




<div class="yui3-g">
  <div class="yui3-u-1-2">
    <div class="left">
      <h2>Purpose</h2>
      <p>Many biological studies rely on high-quality antibodies, but many commercial antibodies do not perform well (more than a quarter of the <%= link_to "histone antibodies", project_path(1) %> tested in <%= link_to "Egelhofer et al.", "http://dx.doi.org/10.1038/nsmb.1972", :target => "_blank" %> fail a validation test). The problem is compounded by a lack of uniform standard and the laborious steps required for full validation. The aim of this site is to collect and to share experimental results on antibodies that would otherwise remain in individual laboratories, thus aiding researchers in selection and validation of antibodies. This site began with 200+ histone antibodies tested as part of the <%= link_to "ENCODE", "http://www.genome.gov/10005107", :target => "_blank" %> (Encyclopedia of DNA Elements) and <%= link_to "Roadmap Epigenomics", "http://www.roadmapepigenomics.org/", :target => "_blank" %> projects (non-histone antibodies from the same projects will be added shortly).  We invite the scientific community to contribute their data.</p>

      <h2>Validation criteria</h2>
      <p>Please see <%= link_to "this document", root_url + "documents/30MAY2010_mod-ENCODE_TF_Chrom_Data_Standards.pdf", :target => "_blank" %> on data standards (Appendix II for antibody validation) from the <%= link_to "ENCODE", "http://www.genome.gov/10005107", :target => "_blank" %> and <%= link_to "modENCODE", "http://www.modencode.org/", :target => "_blank" %> consortia.
      For the <%= link_to "histone antibodies", project_path(1) %> in <%= link_to "Egelhofer et al.", "http://dx.doi.org/10.1038/nsmb.1972", :target => "_blank" %>, the following simplified criteria were used.</p>
      
      <ul>
        <li><strong>Western blot</strong>: Pass if the histone band constituted at least 50% of the total nuclear signal, was at least ten-fold more intense than any other single nuclear band, and was at least ten-fold more intense than recombinant, unmodified histone.</li>
        <li><strong>Dot blot</strong>: Pass if at least 75% of the total signal was specific to the cognate peptide.</li>
        <li><strong>ChIP-chip/seq</strong>:  Pass if the Pearson correlation is more than 0.8 on any pair of ChIPs performed from independent preparations matched for stage, cell type or biological tissue</li>
      </ul>
    </div>
  </div>
    
  <div class="yui3-u-1-2">
    <div class="right">
      <h2>Notes on use of the database</h2>
      <p>It is important to note that there is significant variability between different lots of the same polyclonal antibody. The quality of experiments may also be variable depending on experimentalist. Thus, the users should take the validation data here as a guide, to be further verified (and deposited!).</p>
      <h2>Funding</h2>
      <p>This website was developed with funding from the <%= link_to "model organism ENCODE", "http://www.modencode.org/", :target => "_blank" %>, <%= link_to "human ENCODE", "http://www.genome.gov/10005107", :target => "_blank" %>, and <%= link_to "Roadmap Epigenomics", "http://www.roadmapepigenomics.org/", :target => "_blank" %> projects by <%= link_to "NIH", "http://www.nih.gov", :target => "_blank" %>.  It is maintained by the <%= link_to "Park laboratory", "http://compbio.med.harvard.edu/", :target => "_blank" %> at the <%= link_to "Center for Biomedical Informatics", "http://cbmi.med.harvard.edu", :target => "_blank" %> at <%= link_to "Harvard Medical School", "http://hms.harvard.edu/", :target => "_blank" %>. Database and website design is by <%= link_to "Kyungjoon Lee", "mailto:joon_lee@hms.harvard.edu", :target => "_blank" %>. Please contact <%= link_to "joon_lee@hms.harvard.edu", "mailtojoon_lee@hms.harvard.edu", :target => "_blank" %> and <%= link_to "peter_park@harvard.edu", "mailto:peter_park@harvard.edu", :target => "_blank" %> with questions and suggestions, noting ‘[antibody]’ in the subject line.  You may also direct correspondence to Jason Lieb (<%= link_to "jlieb@bio.unc.edu", "mailto:jlieb@bio.unc.edu", :target => "_blank" %>; for C. elegans), R. David Hawkins (<%= link_to "d1hawkins@ucsd.edu", "mailto:d1hawkins@ucsd.edu", :target => "_blank" %>; for human) or Gary Karpen (<%= link_to "karpen@fruitfly.org", "mailto:karpen@fruitfly.org", :target => "_blank" %>; for D. melanogaster).</p>
      <h2>How to cite us</h2>
      <p>Egelhofer et al, An assessment of histone-modification antibody quality, <em>Nature Structural & Molecular Biology, 2010</em>, <%= link_to "doi:10.1038/nsmb.1972", "http://dx.doi.org/10.1038/nsmb.1972", :target => "_blank" %></p>
      <p><%= image_tag("modencode_roadmapepigenomics.png")%></p>
      
  </div>
</div>