<div id="searchhome" class="home">
  <form method="get" action="/targets" id="searchform">
    <input type="hidden" name="id" id="autocompleted_id">
    <input type="text" name="q" data-autocomplete="/targets/autocomplete_target_name" id_element="#autocompleted_id">
    <input type="submit" value="search" id="searchsubmit">
  </form>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <div class="left">
      <div class="dashboard">
        <ul>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Target.count), targets_path %></span>
            <span class="item">targets</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Species.where("targets_count > 0").count), species_index_path %></span>
            <span class="item">species</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Source.count), sources_path %></span>
            <span class="item">sources</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Validator.count), validators_path %></span>
            <span class="item">validators</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Project.count), projects_path %></span>
            <span class="item">project</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="yui3-u-1-2">
    <div class="right">
      <div class="banner"><%= link_to "Histone Modification Antibodies from Egelhofer et al, An assessment of histone-modification antibody quality, Nature Structural and Molecular Biology, 2010", project_path(1)%></div>     
    </div>
  </div>
</div>