<div id="searchhome" class="home">
  <form method="get" action="<%= targets_url %>" id="searchform">
    <input type="hidden" name="id" id="autocompleted_id">
    <input type="text" name="q" data-autocomplete="<%= autocomplete_target_name_targets_url %>" id_element="#autocompleted_id" id="target_search_query">
    <input type="submit" value="search" id="searchsubmit">
  </form>
  Search examples: <%= Target.most_validated.limit(3).map {|t| link_to(t.name, targets_url(:q => t.name))}.join(", ").html_safe %>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <div class="left">
      <div class="dashboard">
        <ul>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Target.count), targets_path %></span>
            <span class="item">targets</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Antibody.count), antibodies_path %></span>
            <span class="item">antibodies</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Species.where("targets_count > 0").count), species_index_path %></span>
            <span class="item">species</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Source.count), sources_path %></span>
            <span class="item">sources</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Validator.count), validators_path %></span>
            <span class="item">validators</span>
          </li>
          <li>
            <span class="value"><%= link_to number_with_delimiter(Project.count), projects_path %></span>
            <span class="item">project</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="yui3-u-1-2">
    <div class="right">
      <div class="banner"><%= link_to "Histone Modification Antibodies from Egelhofer et al, An assessment of histone-modification antibody quality, Nature Structural & Molecular Biology, 2010", project_path(1)%></div>     
    </div>
  </div>
</div>