<h1>Upload New Validation Data</h1>

<h2>Step 1. Find Target: <span class="selected"><%= @target.try(:name_with_species) %></span></h2>
<% if @target.present? %>
  <%= link_to("Find another target", upload_url) %>
<% else %>
  <h3>Find the target of your antibody:</h3>
  <%= form_tag upload_url, :method => 'get', :class => "upload" do %>
    <%= text_field_tag :find_target, params[:find_target], :id => "upload_target_search" %>
    <%= submit_tag "Search", :name => nil%>
  <% end %>
  Examples: <%= Target.most_validated.limit(5).map {|t| link_to(t.name, upload_url(:find_target => t.name))}.join(", ").html_safe %>
  <div id="targets">
    <% if @targets.present? %>
      <%= render 'targets' %>
    <% elsif params[:find_target].present? %>
      <%= render 'new_target'%>
    <% end %>
  </div>
<% end %>

<h2>Step 2. Find Antibody: <span class="selected"><%= @antibody.try(:source_with_catalogue_and_lot_number)%></span></h2>
<% if @target.present? and @antibody.nil? %>
  <% if @target.antibodies.size > 0 and params[:new_antibody].nil? %>
    <%= render 'antibodies' %>
  <% end %>
  <%= render 'new_antibody' if params[:new_antibody].present? %>
<% end %>

<%= link_to("Find another antibody", upload_url(:target_id => @target)) if @antibody.present? %>


<h2>Step 3. Upload Validation</h2>
<% if @target.present? and @antibody.present? %>
  <%= form_for(@validation, :url => create_validation_url, :html => {:multipart => true, :class => "upload"}) do |f| %>
    <%= f.hidden_field :target_id %>
    <%= f.hidden_field :antibody_id %>
    <%= f.hidden_field :validator_id %>
    <% if @validation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@validation.errors.count, "error") %> prohibited this validation from being saved:</h2>

        <ul>
        <% @validation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :validated_species %>
      <%= f.select :species_id, options_from_collection_for_select(Species.order("targets_count desc"), :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.radio_button :category, "Western blot" %> <%= f.label :category_western_blot, "Western blot", :class => "radio" %>
      <%= f.radio_button :category, "Dot blot" %> <%= f.label :category_dot_blot, "Dot blot", :class => "radio"  %>
      <%= f.radio_button :category, "ChIP-chip/seq" %> <%= f.label "category_chip-chipseq", "ChIP-chip/seq", :class => "radio"  %>
    </div>
    <div class="field">
      <%= f.label :result %> <%= f.radio_button :passed, 1 %> <%= f.label :passed_1, "Passed", :class => "radio"%>
      <%= f.radio_button :passed, 0 %> <%= f.label :passed_0, "Failed", :class => "radio"%><%= validation_criteria_help.html_safe %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <%= f.text_field :notes, :class => "long" %>
      <div class="examples" id="validation_category_western_blot_example">e.g. "Single histone band" or "Histone + other bands"</div>
      <div class="examples" id="validation_category_dot_blot_example">e.g. "Specific (90%); Cross-reacting peptides: H3K36me2 (<10%)"</div>
      <div class="examples" id="validation_category_chip-chipseq_example">e.g. "Marketed as ChIP grade"</div>
    </div>
    <div class="field">
      <%= f.label :conditions %>
      <%= f.text_field :conditions, :class => "long" %>
      <div class="examples" id="validation_conditions_example">e.g. "0.5 ug/ml ON at 4C" or "1:2000 ON at 4C"</div>
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, :accept => 'image/png,image/gif,image/jpeg' %>
    </div>
    <div class="field">
      <%= f.label :validator_name %>
      <%= f.text_field :validator_name, :class => "long" %>
    </div>
    <div class="actions">
      <%= f.submit("save", :class => "right") %>
    </div>
  <% end %>
<% end %>
