<h1>Vendors</h1>
<%= paginated_section(@vendors) do %>

<div class="pagination_info"><%= page_entries_info @vendors %></div>

<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "website" %></th>
    <th><%= sortable "contact_person" %></th>
    <th><%= sortable "contact_email" %></th>
    <th><%= sortable "contact_phone" %></th>
    <th><%= sortable "antibodies_count", "Antibodies" %></th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%= link_to vendor.name, vendor %></td>
    <td><%= vendor.website %></td>
    <td><%= vendor.contact_person %></td>
    <td><%= vendor.contact_email %></td>
    <td><%= vendor.contact_phone %></td>
    <td class="number"><%= vendor.antibodies_count %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Vendor', new_vendor_path %>
