<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + " | " : ""%><%= controller.controller_name == "pages" ? controller.action_name.titleize : controller.controller_name.titleize %> | Antibody Validation Database</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.2.0/build/cssreset/reset-min.css&3.2.0/build/cssfonts/fonts-min.css&3.2.0/build/cssgrids/grids-min.css&3.2.0/build/cssbase/base-min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
  <link  href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&subset=latin" rel="stylesheet" type="text/css" >
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "rails", "application", "autocomplete-rails" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
<h1 class="<%= "home" if request.path == root_path %>"><%= link_to_unless_current("Antibody Validation Database", root_path) %></h1>
<% if request.path != root_path %>
<div id="search">
  <form method="get" action="<%= targets_url %>" id="searchform">
    <input type="hidden" name="id" id="autocompleted_id">
    <input type="text" name="q" data-autocomplete="<%= autocomplete_target_name_targets_url %>" id_element="#autocompleted_id">
    <input type="submit" value="search" id="searchsubmit">
  </form>
</div>
<% end %>
<div id="navigation">
<ul id="mainmenu" class="horizontal_menu">
  <li><%= link_to_unless_current("Home", root_path) %></li>
  <li><%= link_to("Targets", targets_path, :class => nav_class("targets")) %></li>
  <li><%= link_to("Species", species_index_path, :class => nav_class("species")) %></li>
  <li><%= link_to("Sources", sources_path, :class => nav_class("sources")) %></li>
  <li><%= link_to("Validators", validators_path, :class => nav_class("validators")) %></li>
  <li><%= link_to("Projects", projects_path, :class => nav_class("projects")) %></li>
  <li><%= link_to_unless_current("Upload", upload_path) %></li>
  <li class="about"><%= link_to_unless_current("About", about_path) %></li>
</ul>
<!--ul id="usermenu" class="horizontal_menu">
<% if user_signed_in? %>
  <li><%= link_to_unless_current("Welcome #{current_user.email}", current_user) %></li>
  <li><%= link_to_unless_current("Sign out", destroy_user_session_path) %></li>
<% else %>
  <li><%= link_to_unless_current('Sign in', new_user_session_path)  %></li>
  <li><%= link_to_unless_current('Sign up', new_user_registration_path) %></li>
<% end %>
</ul-->
</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="main">
<%= yield %>
</div>


<div id="footer">
  Copyright &copy; 2010. Park Lab. All rights reserved.
</div>
</body>
</html>
